<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Today's Weather</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">City</th>
                    <th scope="col">Temperature (°C)</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <!-- <p>{{ weather_data }}</p> -->
            <tbody>
                {% for entry in weather_data %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.city }}</td>
                    <td>{{ entry.temperature }}</td>
                    <td>{{ entry.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>